In [158]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib as mpl

In [159]:
df = pd.read_csv("https://storage.googleapis.com/kaggle-datasets/14872/228180/Admission_Predict.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1555319299&Signature=cZtrAu0hybZbcWJId7jurRbFnScHxXZ%2FEh%2BK%2F5dCvdYJmz5bgvxg5MVhSec3Jy9nOOUj2qmhCALlmiJP1AM89xTDPGuZRlARTUUbGNOtVyjtHnrcXzMqmmo62EwWIPJRtDar8Kh%2BEE7cV82ZemeddVXERTehooMUtcfKP0pFyk2iafATGmJLbEbumwyCltPeilW%2Bj8cjfl8ps0XIpO6ur73V18am5y90tiOcN%2FoDqf56oYi%2B9q2Xu2787Sd5JHdzJWYe06Oha%2F6ln6ISlkXaC0g0%2BRjqAl6csSs8ndRBEuLf4c1c9Gh0tkz0zj6mpbEw5JS5Ue2kDjxgCuXmMmrksQ%3D%3D")

In [160]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [161]:
df_state = df.groupby("GRE Score").count()

In [162]:
df [["TOEFL Score","GRE Score"]].head()

   TOEFL Score  GRE Score
0          118        337
1          107        324
2          104        316
3          110        322
4          103        314

In [163]:
df.sort_values("TOEFL Score", ascending = False).head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
25,26,340,120,5,4.5,4.5,9.60,1,0.94
97,98,331,120,3,4.0,4.0,8.96,1,0.86
81,82,340,120,4,5.0,5.0,9.50,1,0.96
202,203,340,120,5,4.5,4.5,9.91,1,0.97
203,204,334,120,5,4.0,5.0,9.87,1,0.97

In [164]:
df [["TOEFL Score"]]

     TOEFL Score
0            118
1            107
2            104
3            110
4            103
5            115
6            109
7            101
8            102
9            108
10           106
11           111
12           112
13           109
14           104
15           105
16           107
17           106
18           110
19           102
20           107
21           114
22           116
23           119
24           119
25           120
26           109
27            98
28            93
29            99
..           ...
370          103
371          110
372          119
373          109
374          105
375          101
376           96
377          100
378           98
379           99
380          104
381          105
382          110
383          100
384          113
385          117
386          101
387          105
388           97
389          108
390          102
391          106
392          112
393          104
394          111
395          110
396          107
397          116
398          103
399          117

[400 rows x 1 columns]

In [165]:
df2 = df [["TOEFL Score"]]

In [166]:
df [["GRE Score"]]

     GRE Score
0          337
1          324
2          316
3          322
4          314
5          330
6          321
7          308
8          302
9          323
10         325
11         327
12         328
13         307
14         311
15         314
16         317
17         319
18         318
19         303
20         312
21         325
22         328
23         334
24         336
25         340
26         322
27         298
28         295
29         310
..         ...
370        310
371        324
372        336
373        321
374        315
375        304
376        297
377        290
378        303
379        311
380        322
381        319
382        324
383        300
384        340
385        335
386        302
387        307
388        296
389        320
390        314
391        318
392        326
393        317
394        329
395        324
396        325
397        330
398        312
399        333

[400 rows x 1 columns]

In [167]:
df3 = df[["GRE Score"]]

In [168]:
from sklearn.linear_model import LinearRegression
regr=LinearRegression()
x1=np.array(df["TOEFL Score"])

y=np.array(df["GRE Score"])

x1.reshape(len(x1), 1)
print(x1)
print(x)

[118 107 104 110 103 115 109 101 102 108 106 111 112 109 104 105 107 106
 110 102 107 114 116 119 119 120 109  98  93  99  97 103 118 114 112 110
 106 105 105 108 110 105 107 117 113 110 114 119 110 111  98 100 116 112
 110 103 102  99  99 104 100 101 105 107 111 112 114 107 109 115 118 112
 111 108 106 114 112  99  95  93 105 120 110 115 115 103 106 107 108 109
 106  97  98  97  99 100 100 120 119 113 107 105 106 104 112 110 111 117
 116 103 108 109 107 110 105 106 102 104  99 104 117 119 106 108 106 100
 113 112 112 118 114 105 105 112 113 109 103 100 116 109 110 118 115 120
 112 113 105 114 116 106 114 116 112 105 108 109 105 104 106 100 103  99
 109 105 111 110 102 102  97  99 101 117 110 113 111 111 119 110 108 102
 104 107 100 110 106 113 107 118 115 112 111 110 114 118 109 107 105 106
 104 107 103 110 120 120 105  99  99 102 106 104 108 110 120 119 117 116
 112 109 110 104 103 110 113 109 105  99 110 110 112 111 104 106 107 100
 113 111 112 114 104 100 101 103 115 114 107 110 105 104 110 111 104  99
 100 115 114 110  99 100 102 119 108 104 103 111 110 102 105 107 113 108
 105  96  95  99 100 110 113 101 103 102 102 110 106 111 112 116 118 114
 104 109 105 102  99  98 101 100 107 120 114 112 106 108 105 107 106 109
 110 112 108 110 104 108 107 100 105 104 101  99 111 113 106 104 107 102
 104 116 100 101 112  96 113 105 106 108 107 111 110 118 108 107 107 110
 106 103  96  98  97  94  99 101 107 110 100 102  98 106 109 104 105 107
 110 116 115 103 102 114 104  98  92  98 103 110 119 109 105 101  96 100
  98  99 104 105 110 100 113 117 101 105  97 108 102 106 112 104 111 110
 107 116 103 117]
[[118 107 104 110 103 115 109 101 102 108 106 111 112 109 104 105 107 106
  110 102 107 114 116 119 119 120 109  98  93  99  97 103 118 114 112 110
  106 105 105 108 110 105 107 117 113 110 114 119 110 111  98 100 116 112
  110 103 102  99  99 104 100 101 105 107 111 112 114 107 109 115 118 112
  111 108 106 114 112  99  95  93 105 120 110 115 115 103 106 107 108 109
  106  97  98  97  99 100 100 120 119 113 107 105 106 104 112 110 111 117
  116 103 108 109 107 110 105 106 102 104  99 104 117 119 106 108 106 100
  113 112 112 118 114 105 105 112 113 109 103 100 116 109 110 118 115 120
  112 113 105 114 116 106 114 116 112 105 108 109 105 104 106 100 103  99
  109 105 111 110 102 102  97  99 101 117 110 113 111 111 119 110 108 102
  104 107 100 110 106 113 107 118 115 112 111 110 114 118 109 107 105 106
  104 107 103 110 120 120 105  99  99 102 106 104 108 110 120 119 117 116
  112 109 110 104 103 110 113 109 105  99 110 110 112 111 104 106 107 100
  113 111 112 114 104 100 101 103 115 114 107 110 105 104 110 111 104  99
  100 115 114 110  99 100 102 119 108 104 103 111 110 102 105 107 113 108
  105  96  95  99 100 110 113 101 103 102 102 110 106 111 112 116 118 114
  104 109 105 102  99  98 101 100 107 120 114 112 106 108 105 107 106 109
  110 112 108 110 104 108 107 100 105 104 101  99 111 113 106 104 107 102
  104 116 100 101 112  96 113 105 106 108 107 111 110 118 108 107 107 110
  106 103  96  98  97  94  99 101 107 110 100 102  98 106 109 104 105 107
  110 116 115 103 102 114 104  98  92  98 103 110 119 109 105 101  96 100
   98  99 104 105 110 100 113 117 101 105  97 108 102 106 112 104 111 110
  107 116 103 117]]

In [169]:
y.reshape(len(y), 1)

array([[337],
       [324],
       [316],
       [322],
       [314],
       [330],
       [321],
       [308],
       [302],
       [323],
       [325],
       [327],
       [328],
       [307],
       [311],
       [314],
       [317],
       [319],
       [318],
       [303],
       [312],
       [325],
       [328],
       [334],
       [336],
       [340],
       [322],
       [298],
       [295],
       [310],
       [300],
       [327],
       [338],
       [340],
       [331],
       [320],
       [299],
       [300],
       [304],
       [307],
       [308],
       [316],
       [313],
       [332],
       [326],
       [322],
       [329],
       [339],
       [321],
       [327],
       [313],
       [312],
       [334],
       [324],
       [322],
       [320],
       [316],
       [298],
       [300],
       [311],
       [309],
       [307],
       [304],
       [315],
       [325],
       [325],
       [327],
       [316],
       [318],
       [328],
       [332],
       [336],
       [321],
       [314],
       [314],
       [329],
       [327],
       [301],
       [296],
       [294],
       [312],
       [340],
       [320],
       [322],
       [340],
       [319],
       [315],
       [317],
       [314],
       [316],
       [318],
       [299],
       [298],
       [301],
       [303],
       [304],
       [306],
       [331],
       [332],
       [323],
       [322],
       [312],
       [314],
       [317],
       [326],
       [316],
       [329],
       [338],
       [331],
       [304],
       [305],
       [321],
       [301],
       [320],
       [311],
       [310],
       [299],
       [290],
       [296],
       [327],
       [335],
       [334],
       [310],
       [308],
       [301],
       [300],
       [323],
       [319],
       [326],
       [333],
       [339],
       [303],
       [309],
       [323],
       [333],
       [314],
       [312],
       [316],
       [326],
       [318],
       [329],
       [332],
       [331],
       [340],
       [325],
       [320],
       [315],
       [326],
       [339],
       [311],
       [334],
       [332],
       [321],
       [324],
       [326],
       [312],
       [315],
       [309],
       [306],
       [297],
       [315],
       [298],
       [318],
       [317],
       [329],
       [322],
       [302],
       [313],
       [293],
       [311],
       [312],
       [334],
       [322],
       [323],
       [321],
       [320],
       [329],
       [319],
       [309],
       [307],
       [300],
       [305],
       [299],
       [314],
       [316],
       [327],
       [317],
       [335],
       [331],
       [324],
       [324],
       [323],
       [322],
       [336],
       [316],
       [307],
       [306],
       [310],
       [311],
       [313],
       [317],
       [315],
       [340],
       [334],
       [298],
       [295],
       [315],
       [310],
       [305],
       [301],
       [325],
       [328],
       [338],
       [333],
       [331],
       [330],
       [322],
       [321],
       [324],
       [312],
       [313],
       [316],
       [324],
       [308],
       [305],
       [296],
       [306],
       [312],
       [318],
       [324],
       [313],
       [319],
       [312],
       [304],
       [330],
       [326],
       [325],
       [329],
       [310],
       [299],
       [296],
       [317],
       [324],
       [325],
       [314],
       [328],
       [316],
       [311],
       [324],
       [321],
       [320],
       [316],
       [318],
       [335],
       [321],
       [307],
       [309],
       [324],
       [326],
       [331],
       [327],
       [312],
       [308],
       [324],
       [325],
       [313],
       [312],
       [314],
       [327],
       [308],
       [306],
       [299],
       [294],
       [312],
       [315],
       [322],
       [329],
       [320],
       [308],
       [304],
       [311],
       [317],
       [312],
       [321],
       [340],
       [331],
       [336],
       [324],
       [314],
       [313],
       [307],
       [300],
       [302],
       [312],
       [316],
       [317],
       [310],
       [320],
       [330],
       [305],
       [309],
       [319],
       [322],
       [323],
       [313],
       [321],
       [323],
       [325],
       [312],
       [308],
       [320],
       [328],
       [311],
       [301],
       [305],
       [308],
       [298],
       [300],
       [324],
       [327],
       [317],
       [323],
       [314],
       [305],
       [315],
       [326],
       [299],
       [295],
       [324],
       [297],
       [327],
       [311],
       [308],
       [319],
       [312],
       [325],
       [319],
       [332],
       [323],
       [324],
       [312],
       [326],
       [308],
       [305],
       [295],
       [316],
       [304],
       [299],
       [302],
       [313],
       [318],
       [325],
       [303],
       [300],
       [297],
       [317],
       [327],
       [301],
       [314],
       [321],
       [322],
       [334],
       [338],
       [306],
       [313],
       [330],
       [320],
       [311],
       [298],
       [301],
       [310],
       [324],
       [336],
       [321],
       [315],
       [304],
       [297],
       [290],
       [303],
       [311],
       [322],
       [319],
       [324],
       [300],
       [340],
       [335],
       [302],
       [307],
       [296],
       [320],
       [314],
       [318],
       [326],
       [317],
       [329],
       [324],
       [325],
       [330],
       [312],
       [333]])

In [170]:
from sklearn.model_selection import train_test_split
x1_train,x1_test,y_train,y_test=train_test_split(x1,y,test_size=0.3,random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [1, 400]

In [ ]:
plt.scatter(x1_train,y_train)

In [ ]:
regr.fit(x1_train,y_train)